{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Search</a></li>
            
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">

        <div class="card mb-4">
          <div class="card-body ">
          <form id="filters">
            <div class="form-outline">
              <label class="form-label" for="customRange1">Filter</label>
              <input type="range" id="customRange1" class="form-range" />
            </div>
            <h4>Categorie</h4>
            {% for categorie in categories %}
            <div class="form-outline">
              <input type="checkbox" id="cat{{categorie.id}}" name="categories[]" value="{{categorie.id}}" class="form-check-input" autocompleted/>
              <label class="form-check-label" for="flexCheckChecked">{{ categorie.nom }}</label>
            </div>
            {% endfor %}
          <!--  <h4>Author</h4>
            {% for auteur in auteurs %}
            <div class="form-outline">
              <input type="checkbox" id="flexCheckChecked" class="form-check-input" autocompleted/>
              <label class="form-check-label" for="flexCheckChecked">{{ auteur.nom }} {{ auteur.prenom }}</label>
            </div>              
            {% endfor %}-->
            </from>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-9">

        <div class="row" id="content">
         {% include "search/_content.html.twig" %}
                 <div class="row">
          {% for livre in livres %}
            <div class="col-md-3 mb-4">
              <div class="card mb-4 mb-md-0">
                  <div class="card" >
                    <img
                      src="images/book{{asset(livre.image)}}"
                      class="card-img-top"
                      height="300px"
                      alt="Chicago Skyscrapers "
                    />
                      <!--<div class="card-body">
                      <h5 class="card-title">Titre : {{ livre.titre }}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                    
                    <li class="list-group-item">Author : {% for aut  in livre.auteur  %}{{aut.nom}} {{aut.prenom}} {% endfor %}</li>
                      <li class="list-group-item">Numbre of page : {{ livre.nbrpage }}</li>
                      <li class="list-group-item">Categories :{% for cat  in livre.categorie  %}{{cat.nom}} {% endfor %}</li>-->
                    </ul>
                    <div class="card-body">
                      <a  href="{{ path('bookdetails',{'id': livre.id}) }}" class="card-link">Book details</a>
                      
                      {% if app.user %}
                        {% if livre.qtestock == 0 %}
                         <a href="#" class="card-link link-danger">en rupture</a>
                        {% else %}
                           <a href="{{path('booking_new',{'id': livre.id})}}" class="card-link">Book Now</a>
                        {% endif %}
                       
                      {% else %}
                        <a href="{{path('app_login')}}" class="card-link">Login</a>
                      {% endif %}       
                    </div>
                  </div>
              </div>
            </div>
          {% endfor %}



        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/filters.js')}} "> </script>
{% endblock %}