{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">Search</a></li>
            
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">

        <div class="card mb-4">
          <div class="card-body ">
          <form id="filters">

            <h4>Categorie</h4>
            {% for categorie in categories %}
            <div class="form-outline">
              <input type="checkbox" id="cat{{categorie.id}}" name="categories[]" value="{{categorie.id}}" class="form-check-input" autocompleted/>
              <label class="form-check-label" for="flexCheckChecked">{{ categorie.nom }}</label>
            </div>
            {% endfor %}
          <!--  <h4>Author</h4>
            {% for auteur in auteurs %}
            <div class="form-outline">
              <input type="checkbox" id="flexCheckChecked" class="form-check-input" autocompleted/>
              <label class="form-check-label" for="flexCheckChecked">{{ auteur.nom }} {{ auteur.prenom }}</label>
            </div>              
            {% endfor %}-->
            </from>
          </div>
        </div>

       
      </div>

      <div class="col-lg-9">

        <div class="row" id="content">
         {% include "search/_content.html.twig" %}
              




        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/filters.js')}} "> </script>
{% endblock %}