{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
   <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white">
            <h1 class="mb-3">The whole library is in your hand</h1>
            <h5 class="mb-4">Find your Book & enjoy it</h5>
              <div class="input-group">
                {{ form_start(form) }}
                {{ form_widget(form.field_name,{'attr':{'class' : 'form-control rounded'}}) }}
                <!-- <input type="search" class="" placeholder="Search" aria-label="Search"aria-describedby="search-addon" />-->
                <button type="submit" class="btn btn-outline-white">search</button>
                {{ form_end(form) }}
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
    </header>
  <!--Main Navigation-->
  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Facilis consequatur eligendi</strong></h4>
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
              eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
              sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
            </p>
            <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
              nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
              alias, unde optio accusantium soluta, iusto molestiae adipisci et?
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!-- Carousel wrapper -->
      
<div
  id="carouselExampleControls"
  class="carousel slide text-center carousel-dark"
  data-mdb-ride="carousel"
>
<h4 class="mb-5"><strong>Auteurs</strong></h4>
  <div class="carousel-inner">
  
    <div class="carousel-item active">
    {% for auteur in auteurs %}
      
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h5 class="mb-3">{{auteur.nom}} {{auteur.prenom}}</h5>
          <p>{{auteur.telephone}}</p>
          <p class="text-muted">
            <i class="fas fa-quote-left pe-2"></i>
           {{auteur.biographie}}
          </p>
        </div>
      </div>
     
    </div>
    <div class="carousel-item ">
    {% endfor %}
    </div>
   
   
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselExampleControls"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselExampleControls"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Books</strong></h4>

        <div class="row">
        {% for livre in livres %}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="images/book{{asset(livre.image)}}" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ livre.titre }}</h5>
                
                <a href="{{ path('bookdetails',{'id': livre.id}) }}"" class="btn btn-primary">Button</a>
              </div>
            </div>
          </div>
           {% endfor %}

          

          
          </div>
        </div>
      </section>
      <!--Section: Content-->
      
    </div>
    
  </main>
  <!--Main layout-->
{% endblock %}
