{% extends 'base.html.twig' %}

{% block title %}Hello BookdetailsController!{% endblock %}

{% block body %}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active"><a href="#">details</a></li>
            
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="container">
          <div class="card mb-4">
              <div class="card-body mb-4 mb-md-0">
                  <div class="card">
                      <div class="row mb-4">
                          <div class="col-sm-6 col-lg-8">
                              <img
                                  src="/images/book{{asset(livre.image)}}"
                                  class="card-img-top  mb-4"
                                  alt="Chicago Skyscrapers "
                                  height="500px"
                              />    
                              <!--<div class="row">
                                <div class="col"><h3 class="card-title">Titre : {{ livre.titre }}</h3></div>
                                <ul class="col-2  text-center">
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star"></i>
                                  <i class="fas fa-star-half-alt"></i>
                                </ul>
                                <div class="col-2 text-end"><a href="#" class="btn btn-primary" >Book Now</a></div>
                              </div>  -->        
                          </div>
                          <div class="col-6 col-lg-4">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item"><h1 class="card-title">Titre : {{ livre.titre }}</h1>
                                <div class="col">
                                  <span  class="fas fa-star"></span>
                                  <span  class="fas fa-star"></span>
                                  <span  class="fas fa-star"></span>
                                  <span  class="fas fa-star"></span>
                                  <span  class="fas fa-star-half-alt"></span>
                                </div></li>
                                <li class="list-group-item">Author : {% for aut  in livre.auteur  %}{{aut.nom}} {{aut.prenom}} {% endfor %}</li>
                                <li class="list-group-item">Numbre of page : {{ livre.nbrpage }}</li>
                                <li class="list-group-item">Numbre of book : {{ livre.qtestock }}</li>
                                <li class="list-group-item">Edition date : {{ livre.dateedition | date('d F Y')}}</li>
                                <li class="list-group-item">Code ISBN : {{ livre.isbn }}</li>
                                <li class="list-group-item">Language : {{ livre.language }}</li>
                                {% if livre.editeur %}
                                <li class="list-group-item">Edituers :{% for edit  in livre.editeur  %}{{edit.nom}} {% endfor %}</li>
                                {% endif %}
                                <li class="list-group-item">Categories :{% for cat  in livre.categorie  %}{{cat.nom}} {% endfor %}</li>
                                <li class="list-group-item">  
                                {% if app.user %}
                                  
                                  <div class="col"><a href="{{path('booking_new',{'id': livre.id})}}" class="btn btn-primary  btn-lg btn-block" >Book Now</a></div></li>
                                {% else %}
                                  <div class="col"><a href="{{path('app_login')}}" class="btn btn-primary  btn-lg btn-block" >Login</a></div></li>
                                {% endif %}                              
                                
                              </ul>
                            </div>
                      </div>
                      <div class="row mb-8">
                          
                          <!--Section: Tabs-->
                          <section>
                            <!-- Tabs navs -->
                            <ul class="nav nav-tabs nav-fill mb-3" id="ex-2" role="tablist">
                              <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="ex-2-tab-1"  data-mdb-toggle="pill" href="#ex-2-tabs-1" role="tab" aria-controls="pills-1" aria-selected="true" >Description</a>
                              </li>
                              <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex-2-tab-2" data-mdb-toggle="pill" href="#ex-2-tabs-2"  role="tab" aria-controls="pills-2" aria-selected="false" >Author</a>
                              </li>
                              {% if livre.editeur %}
                              <li class="nav-item" role="presentation">
                                <a class="nav-link" id="ex-2-tab-3" data-mdb-toggle="pill" href="#ex-2-tabs-3" role="tab" aria-controls="pills-3" aria-selected="false">Edituers</a>
                              </li>
                              {% endif %}

                            </ul>
                            <!-- Tabs navs -->

                            <!-- Tabs content-->
                            <div class="tab-content" id="ex-2-content">
                              <div class="tab-pane fade show active" id="ex-2-tabs-1" role="tabpanel" aria-labelledby="pills-1-tab">
                                {{ livre.description | raw }}
                              </div>
                              <div class="tab-pane fade" id="ex-2-tabs-2" role="tabpanel" aria-labelledby="pills-2-tab">
                                {% for aut  in livre.auteur  %}
                                      <h5>{{aut.nom}} {{aut.prenom}}</h5>
                                      <p><sup>{{aut.datenaissance | date('d F Y')}} </sup></p>
                                      <p>{{ aut.biographie }}</p>

                                <br />
                                {% endfor %}
                              </div>
                              <div class="tab-pane fade" id="ex-2-tabs-3" role="tabpanel" aria-labelledby="pills-3-tab" >
                                {% for edit  in livre.editeur  %}
                                      <h5>{{edit.nom}} {{edit.prenom}}</h5>
                                      <p>{{edit.pays}}</p>
                                      <p>{{ edit.addresse }}</p>

                                <br />
                                {% endfor %}
                              </div>
                            </div>
                            <!-- Tabs content-->
                          </section>
                          <!--Section: Tabs-->
                      </div>
                    must be unique review for each user! fixed later
                      <div class="row  mb-4">
                          <h2>Reviews</h2>
                            <table class="table"> 
                              <tbody>
                                {% for review in reviews %}
                                    <td>
                                      <div class="card mb-3" >
                                          <div class="row g-0">
                                            <div class="col-md-2">
                                                {% if review.user.photo %}
                                                    <img src="/images/users/{{asset(review.user.photo)}}" alt="avatar" class="rounded-circle img-fluid" style="width: 100px;">
                                                {% else %}
                                                    <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava3.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                                {% endif %}
                                            </div>
                                            <div class="col-md-8">
                                                <div>{{ review.CreateAt | date }} </div>
                                                <div>{{ review.user.nom}} {{ review.user.prenom}} </div>
                                                <div>
                                                      {% if review.rate == 0 %}<i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>{% endif %}
                                                      {% if review.rate == 1 %}<i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> {% endif %}
                                                      {% if review.rate == 2 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> {% endif %}
                                                      {% if review.rate == 3 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> {% endif %}
                                                      {% if review.rate == 4 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> {% endif %}
                                                      {% if review.rate == 5 %}<i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> {% endif %}
                                                  </div>
                                                  <p>{{ review.commentaire}} </p>
                                            </div>
                                          </div>
                                      </div>
                                    </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                              
                              {% if app.user %}
                              <div class="row  mb-4">
                              <h2>Add Review</h2>

                                    {{ include('bookdetails/_form.html.twig') }}
                              </div>
                              {% endif %}
                            </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

