
  <!--Main Navigation-->
  <header>
    <style>
      #intro {
        background-image: url("{{ asset('images/library_banner.jpg') }}");
        height: 100vh;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
{% if app.request.get('_route') == "app_home" or  app.request.get('_route') == "app_login" or  app.request.get('_route') == "app_register" %}
      .navbar .nav-link {
        color: #fff !important;
      }
{% else %}
      .navbar .nav-link {
        color: #000 !important;
      }
{% endif %}

    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
      <div class="container-fluid">
      

    
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" href="{{ path('app_home') }}">
          <strong>Library</strong>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Home</a>
            </li>
            <li class="nav-item">
<!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarExample1"
    >

    </div>
    <!-- Collapsible wrapper -->
            </li>

          </ul>

          <ul class="navbar-nav d-flex flex-row">
          
          {% if app.user %}
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{{ path('user_show',{'id':app.user.id}) }}">
                <i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i></a>
            </li>
          {% else %}
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{{ path('app_login') }}">
                <i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{{ path('app_register') }}" >
              <i class="fas fa-user-plus"></i> SignUp</a>
            </li>
          {% endif %}

          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
{% if app.request.get('_route') == "app_home" %}

{% endif %}


   
